In [3]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [4]:
df=pd.read_csv('training_set.csv')
df.head()

,match id,team1,team1_id,team1_roster_ids,team2,team2_id,team2_roster_ids,winner,winner_id,toss winner,...,ground_id,team_count_50runs_last15,team_winp_last5,team1only_avg_runs_last15,team1_winp_team2_last15,ground_avg_runs_last15,momentum_score,location_score,batting_score,bowling_score
0,9331181,Ba,11283,9373356.0:7857520.0:4232164.0:4566540.0:329940...,Hl Ph,12634,3500958.0:4231751.0:2735081.0:2035102.0:369833...,Hl Ph,12634,Hl Ph,...,7398,1.666667,0.672131,139.000000,100.0,157.178571,0.666667,0,-0.210963,-6.520651
1,8797060,Ed,20,2089079.0:6139370.0:2076192.0:62432.0:2083409....,Wt Is,41,4690258.0:4069666.0:4230127.0:1942317.0:161392...,Ed,20,Wt Is,...,1406,1.285714,1.952381,156.000000,50.0,103.500000,3.000000,1,0.106802,-1.817285
2,9433269,We,10576,3298427.0:2288789.0:7773338.0:3519011.0:368195...,Ne,8987,4003390.0:1749075.0:1626526.0:4172447.0:551672...,We,10576,Ne,...,251,0.857143,0.672131,173.266667,0.0,154.333333,0.750000,0,0.509436,4.083306
3,9587073,Ga An Ws,36084,8127230.0:4690328.0:4069666.0:7960847.0:469018...,Bs Rs,36070,3462080.0:2436405.0:1798705.0:7550857.0:574247...,Ga An Ws,36084,Ga An Ws,...,14300,2.166667,1.975610,164.266667,50.0,144.250000,1.200000,0,1.396015,-0.985600
4,9516457,Pb Ks,30407,8127181.0:197658.0:4239038.0:2398346.0:5053082...,Gt Ts,48341,1958683.0:7491224.0:8059029.0:4377610.0:225245...,Gt Ts,48341,Gt Ts,...,7118,0.818182,1.327869,164.666667,0.0,189.000000,0.857143,1,3.341014,0.709513

In [5]:
df.columns

Index(['match id', 'team1', 'team1_id', 'team1_roster_ids', 'team2',
       'team2_id', 'team2_roster_ids', 'winner', 'winner_id', 'toss winner',
       'toss decision', 'venue', 'city', 'match_dt', 'lighting', 'series_name',
       'season', 'ground_id', 'team_count_50runs_last15', 'team_winp_last5',
       'team1only_avg_runs_last15', 'team1_winp_team2_last15',
       'ground_avg_runs_last15', 'momentum_score', 'location_score',
       'batting_score', 'bowling_score'],
      dtype='object')

In [6]:
df['winner']=(df['winner_id']==df['team1_id'])

In [7]:
winnersarr=[]

for i in range(len(df)):

    if(df['winner'][i]):
        winnersarr.append(1)
    else:
        winnersarr.append(0)

df['winners']=winnersarr

In [8]:
df.head()

,match id,team1,team1_id,team1_roster_ids,team2,team2_id,team2_roster_ids,winner,winner_id,toss winner,...,team_count_50runs_last15,team_winp_last5,team1only_avg_runs_last15,team1_winp_team2_last15,ground_avg_runs_last15,momentum_score,location_score,batting_score,bowling_score,winners
0,9331181,Ba,11283,9373356.0:7857520.0:4232164.0:4566540.0:329940...,Hl Ph,12634,3500958.0:4231751.0:2735081.0:2035102.0:369833...,False,12634,Hl Ph,...,1.666667,0.672131,139.000000,100.0,157.178571,0.666667,0,-0.210963,-6.520651,0
1,8797060,Ed,20,2089079.0:6139370.0:2076192.0:62432.0:2083409....,Wt Is,41,4690258.0:4069666.0:4230127.0:1942317.0:161392...,True,20,Wt Is,...,1.285714,1.952381,156.000000,50.0,103.500000,3.000000,1,0.106802,-1.817285,1
2,9433269,We,10576,3298427.0:2288789.0:7773338.0:3519011.0:368195...,Ne,8987,4003390.0:1749075.0:1626526.0:4172447.0:551672...,True,10576,Ne,...,0.857143,0.672131,173.266667,0.0,154.333333,0.750000,0,0.509436,4.083306,1
3,9587073,Ga An Ws,36084,8127230.0:4690328.0:4069666.0:7960847.0:469018...,Bs Rs,36070,3462080.0:2436405.0:1798705.0:7550857.0:574247...,True,36084,Ga An Ws,...,2.166667,1.975610,164.266667,50.0,144.250000,1.200000,0,1.396015,-0.985600,1
4,9516457,Pb Ks,30407,8127181.0:197658.0:4239038.0:2398346.0:5053082...,Gt Ts,48341,1958683.0:7491224.0:8059029.0:4377610.0:225245...,False,48341,Gt Ts,...,0.818182,1.327869,164.666667,0.0,189.000000,0.857143,1,3.341014,0.709513,0

In [13]:
toss_code=[]

for i in range(len(df)):
    if(df['toss winner'][i]!=df['team1'][i] and df['toss winner'][i]!=df['team2'][i]):
        print("Issue Detected in row: ")
        print(i)
    if(df['toss winner'][i]==df['team1'][i] and df['toss decision'][i]=="bat"):
       print("OK")
       toss_code.append(1)
    elif(df['toss winner'][i]==df['team2'][i] and df['toss decision'][i]=="field"):
        print("OKA")
        toss_code.append(1)
    else:
        print("BHA")
        toss_code.append(0)

df['tossA']=toss_code

OKA
OKA
OKA
OK
OKA
OKA
OKA
OK
OKA
OKA
OKA
OK
OKA
OK
OKA
OK
OKA
OKA
OKA
OK
OK
OK
OK
OK
OK
OKA
OKA
OK
OKA
OKA
OKA
OKA
OK
OK
OK
OKA
OKA
OKA
OKA
OKA
OKA
OKA
OK
OK
OKA
OK
OK
OKA
OKA
OKA
OK
OKA
OK
OKA
OKA
OK
OKA
OKA
OKA
OKA
OK
OKA
OK
OK
OKA
OKA
OKA
OK
OK
OKA
OKA
OKA
OKA
OK
OKA
OKA
OK
OKA
OK
OKA
OKA
OKA
OK
OKA
OKA
OKA
OKA
OKA
OK
OK
OKA
OK
OKA
OKA
OKA
OKA
OKA
OKA
OKA
OKA
OK
OK
OKA
OKA
OK
OK
OK
OKA
OKA
OKA
OKA
OKA
OKA
OK
OK
OKA
OK
OKA
OKA
OKA
OKA
OKA
OKA
OKA
OKA
OKA
OK
OKA
OKA
OK
OKA
OK
OKA
OK
OK
OKA
OKA
OK
OKA
OK
OKA
OKA
OKA
OK
OKA
OKA
OKA
OKA
OKA
OKA
OK
OKA
OKA
OKA
OK
OKA
OKA
OKA
OK
OKA
OKA
OKA
OK
OK
OKA
OK
OKA
OKA
OKA
OK
OKA
OKA
OK
OK
OKA
OK
OKA
OKA
OK
OK
OKA
OKA
OKA
OK
OKA
OKA
OK
OKA
OKA
OK
OK
OKA
OKA
OK
OK
OKA
OKA
OKA
OKA
OKA
OKA
OKA
OK
OKA
OKA
OKA
OK
OK
OK
OK
OK
OK
OKA
OK
OKA
OK
OKA
OKA
OK
OK
OK
OK
OKA
OKA
OKA
OK
OKA
OKA
OKA
OKA
OK
OK
OKA
OKA
OK
OK
OKA
OKA
OKA
OKA
OKA
OKA
OKA
OK
OKA
OKA
OKA
OKA
OKA
OK
OK
OKA
OK
OKA
OKA
OKA
OKA
OK
OK
OK
OK
OK
OKA
OKA
OK
OKA
OKA
OKA
OKA
OKA
OKA
OKA
OK
OKA
OKA
OKA
OKA
OKA
OK
OKA
OKA
OKA
OKA
OK
OK
OK
OK
OKA
OKA
OKA
OKA
OKA
OKA
OK
OKA
OKA
OKA
OK
OK
OK
OK
OKA
OKA
OK
OKA
OK
OKA
OK
OKA
OKA
OK
OKA
OKA
OKA
OKA
OKA
OKA
OK
OKA
OK
OKA
OKA
OK
OKA
OK
OKA
OKA
OK
OK
OKA
OKA
OK
OKA
OKA
OKA
OKA
OK
OKA
OK
OK
OKA
OK
OK
OK
OKA
OK
OKA
OKA
OKA
OKA
OK
OK
OKA
OKA
OKA
OKA
OKA
OKA
OK
OK
OK
OK
OKA
OKA
OKA
OKA
OKA
OKA
OKA
OKA
OKA
OKA
OKA
OKA
OK
OKA
OKA
OKA
OK
OKA
OKA
OK
OKA
OKA
OK
OK
OKA
OKA
OKA
OKA
OKA
OK
OKA
OKA
OKA
OKA
OK
OK
OKA
OKA
OKA
OKA
OK
OK
OK
OK
OK
OKA
OKA
OK
OKA
OK
OK
OKA
OKA
OKA
OK
OK
OK
OKA
OKA
OKA
OKA
OK
OKA
OKA
OK
OK
OKA
OKA
OKA
OKA
OK
OKA
OKA
OKA
OK
OKA
OKA
OK
OKA
OK
OKA
OK
OKA
OKA
OK
OK
OKA
OKA
OK
OKA
OKA
OKA
OKA
OKA
OKA
OK
OKA
OKA
OKA
OKA
OKA
OKA
OK
OK
OK
OK
OKA
OKA
OKA
OK
OKA
OKA
OKA
OKA
OKA
OK
OKA
OKA
OK
OKA
OKA
OK
OKA
OKA
OK
OK
OKA
OKA
OK
OK
OKA
OK
OKA
OK
OK
OKA
OKA
OKA
OK
OK
OK
OKA
OK
OKA
OK
OK
OKA
OKA
OK
OK
OKA
OKA
OK
OKA
OKA
OK
OKA
OKA
OKA
OKA
OKA
OKA
OK
OKA
OK
OKA
OK
OKA
OKA
OKA
OKA
OKA
OK
OK
OK
OK
OK
OKA
OK
OKA
OK
OKA
OK
OKA
OKA
OKA
OKA
OKA
OKA
OKA
OKA
OK
OKA
OKA
OKA
OKA
OK
OKA
OK
OKA
OKA
OKA
OKA
OKA
OKA
OK
OK
OKA
OKA
OKA
OKA
OKA
OK
OK
OKA
OKA
OK
OK
OK
OKA
OKA
OKA
OK
OK
OKA
OKA
OK
OKA
OK
OK
OK
OKA
OK
OK
OKA
OKA
OK
OKA
OK
OKA
OKA
OK
OKA
OKA
OKA
OK
OKA
OKA
OKA
OK
OK
OKA
OK
OK
OKA
OK
OKA
OKA
OKA
OK
OKA
OK
OKA
OK
OK
OKA
OKA
OK
OKA
OKA
OK
OKA
OKA
OKA
OK
OK
OKA
OK
OKA
OKA
OKA
OK
OKA
OKA
OKA
OKA
OK
OKA
OKA
OK
OKA
OK
OK
OKA
OKA
OKA
OKA
OKA
OKA
OKA
OK
OKA
OKA
OKA
OKA
OK
OKA
OK
OKA
OKA
OKA
OK
OK
OKA
OKA
OKA
OKA
OKA
OK
OKA
OKA
OKA
OKA
OK
OK
OK
OKA
OKA
OK
OKA
OKA
OKA
OK
OKA
OKA
OKA
OKA
OKA
OKA
OK
OKA
OKA
OKA
OKA
OK
OKA
OKA
OKA
OK
OKA
OKA
OK
OK
OKA
OKA
OKA
OKA
OKA
OKA
OKA
OKA
OK
OK
OKA
OKA
OKA
OK
OK
OK
OKA
OKA
OKA
OKA
OK
OK
OK
OKA
OKA
OKA
OKA
OK
OK
OKA
OK
OKA
OKA
OKA
OK
OKA
OKA
OK
OKA
OKA
OKA
OKA
OK
OKA
OKA
OK
OKA
OKA
OK
OK
OKA
OKA
OKA
OK
OKA
OKA
OK
OKA
OK
OK
OKA
OK
OKA
OK
OKA
OK
OKA
OKA
OKA
OK
OKA
OKA
OK
OKA
OK
OKA
OK
OKA
OKA
OKA
OKA
OKA
OKA
OKA
OKA
OKA
OKA
OK
OKA
OKA
OKA
OKA
OKA
OKA
OK
OKA
OKA
OKA
OKA
OKA
OKA
OKA
OK
OK
OK
OK
OK
OKA
OK
OK
OK
OKA
OK
OKA
OKA
OKA
OKA
OKA
OK
OK
OKA
OKA
OK
OKA
OKA
OKA
OKA
OKA
OKA
OK
OK
OKA
OKA
OKA
OKA
OK
OKA
OK
OK
OKA
OKA
OKA
OKA
OK
OK
OKA
OKA
OKA
OKA
OKA
OK
OKA
OKA
OKA
OKA
OKA
OKA
OK
OKA
OKA
OK
OKA
OKA
OKA
OKA
OK
OKA
OKA
OK
OKA
OKA
OKA
OKA
OK
OK
OKA
OKA
OK
OKA
OKA
OKA
OKA
OK
OKA
OK
OKA
OKA
OK
OKA
OKA
OKA
OK
OKA
OKA
OKA
OK
OK
OKA
OKA
OKA
OK
OKA
OKA
OKA
OK
OKA
OK
OKA
OK
OKA
OKA
OK
OKA
OK
OKA
OKA
OK
OKA
OKA
OKA
OKA
OKA
OKA
OKA
OK
OK
OK
OK
OKA
OKA
OK
OK
OKA

In [11]:
df.head()

,match id,team1,team1_id,team1_roster_ids,team2,team2_id,team2_roster_ids,winner,winner_id,toss winner,...,team_winp_last5,team1only_avg_runs_last15,team1_winp_team2_last15,ground_avg_runs_last15,momentum_score,location_score,batting_score,bowling_score,winners,toss
0,9331181,Ba,11283,9373356.0:7857520.0:4232164.0:4566540.0:329940...,Hl Ph,12634,3500958.0:4231751.0:2735081.0:2035102.0:369833...,False,12634,Hl Ph,...,0.672131,139.000000,100.0,157.178571,0.666667,0,-0.210963,-6.520651,0,1
1,8797060,Ed,20,2089079.0:6139370.0:2076192.0:62432.0:2083409....,Wt Is,41,4690258.0:4069666.0:4230127.0:1942317.0:161392...,True,20,Wt Is,...,1.952381,156.000000,50.0,103.500000,3.000000,1,0.106802,-1.817285,1,1
2,9433269,We,10576,3298427.0:2288789.0:7773338.0:3519011.0:368195...,Ne,8987,4003390.0:1749075.0:1626526.0:4172447.0:551672...,True,10576,Ne,...,0.672131,173.266667,0.0,154.333333,0.750000,0,0.509436,4.083306,1,1
3,9587073,Ga An Ws,36084,8127230.0:4690328.0:4069666.0:7960847.0:469018...,Bs Rs,36070,3462080.0:2436405.0:1798705.0:7550857.0:574247...,True,36084,Ga An Ws,...,1.975610,164.266667,50.0,144.250000,1.200000,0,1.396015,-0.985600,1,1
4,9516457,Pb Ks,30407,8127181.0:197658.0:4239038.0:2398346.0:5053082...,Gt Ts,48341,1958683.0:7491224.0:8059029.0:4377610.0:225245...,False,48341,Gt Ts,...,1.327869,164.666667,0.0,189.000000,0.857143,1,3.341014,0.709513,0,1

In [21]:
relevant_columns=['match id','team1_id','team2_id','team_count_50runs_last15','team_winp_last5','team1only_avg_runs_last15','team1_winp_team2_last15','ground_avg_runs_last15','momentum_score','location_score','batting_score','bowling_score','winners']

In [22]:
df_new=df[relevant_columns]
df_new.to_csv('train_ready.csv',index=False)